/* button.css */
.wrapper {
  width: 100px;
  height: 100px;
  margin: 40px auto;
  border-radius: 50%;
  background: linear-gradient(#b25244, #5e1912);
  position: relative;
  cursor: pointer;
  padding: 13px;
  box-shadow: inset 0 1.5px 2px rgba(255, 255, 255, 0.13),
    0 3.5px 5px rgba(0, 0, 0, 0.5), 0 6.5px 6.5px 2.5px rgba(0, 0, 0, 0.3);
}

.wrapper:after {
  content: "";
  position: absolute;
  left: -13px;
  right: -13px;
  top: -13px;
  bottom: -13px;
  z-index: -2;
  border-radius: inherit;
  box-shadow: inset 0 0.7px 0 rgba(255, 255, 255, 0.1),
    0 0.7px 1.3px rgba(0, 0, 0, 0.3), 0 0 6.5px rgba(0, 0, 0, 0.15);
}

.wrapper:before {
  content: "";
  position: absolute;
  left: -7px;
  right: -7px;
  top: -7px;
  bottom: -7px;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0 6.5px 6.5px rgba(0, 0, 0, 0.13);
  filter: blur(0.7px);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(#8a2c20, #9e4235);
  display: block;
  box-shadow: 0 -1.3px 3.3px rgba(255, 255, 255, 0.05),
    0 1.3px 3.3px rgba(255, 255, 255, 0.1);
}

.inner:after {
  position: absolute;
  width: 33px;
  height: 33px;
  background: linear-gradient(#eaeceb, #8d8d8d);
  left: 50%;
  top: 50%;
  content: "";
  border-radius: inherit;
  margin: -16.5px 0 0 -16.5px;
  box-shadow: 0 2px 3.3px rgba(0, 0, 0, 0.3);
}

.inner:before {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  left: 50%;
  top: 50%;
  border-radius: inherit;
  background: inherit;
  margin: -13.5px 0 0 -13.5px;
  z-index: 2;
  box-shadow: inset 0 2px 3.3px rgba(0, 0, 0, 0.3),
    0 0.7px 1.3px rgba(255, 255, 255, 1);
}

.inner span {
  display: block;
  width: 13px;
  height: 13px;
  background: #8f3327;
  position: absolute;
  left: 50%;
  margin-left: -6.5px;
  top: 17px;
  z-index: 3;
  position: relative;
}

.inner span:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 17px;
  background: linear-gradient(#fff, #cbcbcd);
  border-radius: 7px;
  box-shadow: 0 2px 3.3px rgba(0, 0, 0, 0.3);
  left: 50%;
  margin-left: -2px;
}

.wrapper:active .inner:after,
.wrapper:hover .inner:after {
  background: linear-gradient(#fff3aa, #ff7f00);
  box-shadow: 0 2px 6px rgba(255, 140, 0, 0.8);
}

.wrapper:active .inner span:before,
.wrapper:hover .inner span:before {
  background: linear-gradient(#fff, #ffcc88);
  box-shadow: 0 1px 3px rgba(255, 120, 0, 0.6);
}
